<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我是index页面</title>

    
</head>

<body>
    <%= require('html-loader!../global/header.ejs') %>
    <h1>我是index页面</h1>
    <div class="aaaoo"></div>
    <img src="<%= require('../../src/img/ggg/b.jpg') %>" alt="">
</body>
<!---原创 author:abbykk   email:460053411@qq.com--->
</html>